.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    justify-content: center;
}

.tile h3{
    font-size: 33px;
    font-weight: bold;
}
.tile p{
    font-size: 15px;
}
