.resp__tab {
    border-radius: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
}

.head, .resp__tab td {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    vertical-align: top;
}

.resp__tab td span {
    background: #d0604c;
    border: 2px solid var(--two-accent-color);
    color: #FFFFFF;
    border-radius: 5px;
    padding: 5px 15px;
    display: none;
}
.resp__tab td{
    height: 200px;
    padding: 2px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head{
    color: #FFF;
    background: #d0604c;
    position: sticky;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.linear_table thead{
    display: none;
}

.btn{
    background: none;
    outline: none;
    cursor: pointer;
    padding: 5px;
    margin: 20px 5px;
    border: none;
    background: var(--two-accent-color);
    box-shadow: 0 0 2px var(--foreground-color);
}
.btn:hover{
    opacity: 0.8;
}
.btn__icon{
    width: 25px;
}
.linear_table tr{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.linear_table td{
    width: 100%;
}
.linear_table td span{
    display: block;
}
@media(max-width: 768px) {
    .resp__tab thead {
        display: none;
    }
    .resp__tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp__tab td {
        width: 100%;
    }
    .resp__tab td span {
        display: block;
    }
}
@media (max-width: 600px) {
    .footer{
        flex-direction: column;
    }
    .footer a{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
@media screen and (prefers-color-scheme: dark) {
    .head{
        opacity: 0.8;
    }
}