.resp__tab {
    border-radius: 10px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
}
.head, .resp__tab td {
    font-size: 13px;
    font-family: Verdana, sans-serif;
    vertical-align: top;
}

.resp__tab tr:nth-child(even) {
    background: var(--two-accent-color);
}

.resp__tab td span {
    background: #CB785E;
    color: #FFFFFF;
    padding: 5px 15px;
    display: none;
}
.resp__tab td{
    height: 200px;
    padding: 5px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.head{
    color: #FFF;
    background: #CB785E;
    position: sticky;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

@media(max-width: 768px) {
    .resp__tab thead {
        display: none;
    }
    .resp__tab tr {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .resp__tab td {
        width: 100%;
    }
    .resp__tab td span {
        display: block;
    }
}