.tile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius-tile);
    height: 100%;
    background: var(--two-color);
    transition: .15s;
}
.tile:hover{
    opacity: 0.8;
}
.tile h1::after{
    content: '-';
}

@media (max-width: 768px) {
    .tile h1::after{
        content: attr(data-title);
    }
}